:root {
  --keyboard-bg-color: rgba(37, 106, 8, 0.9);
  --btn-bg-color: rgba(33, 101, 4, 0.9);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.keyboard {
  height: 300px;
  width: 700px;
  background-color: var(--keyboard-bg-color);
  position: absolute;
  bottom: 20px;
  /*right: 0;
  */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  padding: 1rem 2em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: grid;
  /* place-items: center;
  justify-content: center; */
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
  margin-bottom: 4rem;
}
.btn {
  /*display: block;
  */
  height: 50px;
  border: none;
  /* margin: 0.3rem; */
  font-size: 1.5rem;
  /* width: 4px; */
  background-color: var(--btn-bg-color);
  color: rgb(212, 207, 207);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(123, 122, 122);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  background-color: green;
  color: white;
}

.btn.backspace {
  grid-column: span 2;
}

.btn.q-key {
  grid-column: 2/3;
}

.btn.space {
  grid-column: 3/11;
}
.btn.capslock {
  grid-column: 1/3;
}
.btn.enter {
  grid-column: span 2;
}
.btn.shift {
  grid-column: 1/3;
}

.heading {
  color: green;
  font-size: 1.9rem;
  text-align: center;
  margin: 2rem 0;
  border-bottom: 1px solid rgb(117, 116, 116);
}
.mid-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.mid-container-left h3 {
  font-weight: 500;
  font-size: 1.6rem;
}
.mid-container-left ul {
  padding-left: 2rem;
  color: rgb(95, 94, 94);
  font-size: 1.4rem;
}

.mid-container-left > ul > li:last-of-type > span {
  color: green;
  font-weight: 600;
}
.text-container {
  border: 1px solid rgb(144, 142, 142);
  border-radius: 0.5rem;
  height: 200px;
  width: 700px;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 2rem;
}
